* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container3 {
    max-width: 40vw;
    margin: 50px auto;
    padding: 0 0;
}

h2 {
    font-size: 32px !important;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 2vh !important;
    color: #2c3e50;
    margin-left: 2vh !important;
}


.card {
    background-color: #D8EBBF;
    border-radius: 20px;
    padding: 6vw 5vw;
    width: 45vw;
}


.input-container {
    background-color: #A4F3A4;
    border-radius: 8px;
    padding: 1vw;
    width: 35vw;
}

.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
}

.input-row > div:first-child {
    white-space: nowrap; /* Menjaga teks tetap dalam satu baris */
    flex-grow: 1; /* Membuat teks mengisi ruang yang tersedia */
    margin-right: 10px; /* Memberikan jarak antara teks dan input-group */
    font-weight: bold;
}

.input-group {
    display: flex;
    align-items: center;
    margin: 5px 0;
    justify-content: flex-end; /* Pastikan konten dimulai dari kiri */
}

.btn {
    display: inline-block;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.btn img {
    width: 1.5rem;
    height: 1.5rem;
}

.value {
    font-weight: bold;
    width: 1.5rem;
    text-align: center;
}

.total-row {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    border-top: 1px solid #a5d6a7;
    margin-top: 15px;
    font-weight: bold;
}

.send-btn {
    background-color: #4EAF5B;
    color: white;
    border: none;
    padding: 1vh 9vw;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 2vh;
    float: right;

}

.send-btn:hover {
    background-color: #1b8520;
}


